/* Global font */

@font-face {
  font-family: "Onest";
  src: url("../fonts/Onest-VariableFont_wght.ttf");
}

/* Global styles */

*,
html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 0;
  outline: 0;
  appearance: none;
  -webkit-appearance: none;
  font-family: "Onest", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

:root {
  --primary: #FFCE12;
  --pri-shade: #FFCE1220;
  --secondary: #2B8F00;
  --sec-shade: #2B8F0020;
  --light: #FFFEFB;
  --alert: #CE0B0B;
  --info: #CE670A;
  --success: #0ACE2D;
  --lshade: #EFEFEF;

  /* dark */

  --dprimary: #FFC649;
  --dsecondary: #8ACD6D;
  --dark: #2F2E2B;
  --dshade: #4D4D4D;
  --dalert: #E15F5F;
  --dinfo: #FFBA7B;
  --dsuccess: #65E17B;

  /* font-size */

  --sm: 14px;
  --md: 16px;
  --lg: 18px;
  --xl: 20px;
  --xl2: 22px;
  --xl4: 24px;

  --sm2: 16px;
  --md2: 18px;
  --lg2: 20px;
  --xl22: 22px;
  --xl24: 24px;
  --xl26: 26px;
}

body {
  background: var(--light);
}

header {
  background: var(--light);
  width: 100%;
  height: 60px;
  padding: 0 5%;
  border-bottom: 1px solid var(--lshade);
  display: grid;
  align-items: center;
  grid-auto-flow: column;
  grid-template-columns: 1fr auto 1fr;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 7;
}

header .user-avatar,
header .site-id {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 10px;
}

header .user-avatar {
  justify-self: start;
}

header .user-avatar img {
  width: 35px;
  height: 35px;
  border: 2px solid var(--lshade);
  border-radius: 100%;
  opacity: 0;
  visibility: hidden;
}

header .user-avatar img.active {
  opacity: 1;
  visibility: visible;
}

header .site-id {
  justify-self: center;
}

header .site-id img {
  width: 1.5em;
  height: auto;
}

header .site-id span {
  font-size: var(--xl);
  font-weight: 800;
}

header .nav-toggle {
  width: 1.8em;
  height: 2em;
  display: flex;
  align-items: center;
  justify-self: right;
  justify-content: center;
  flex-direction: column;
  gap: 0.5em;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  position: relative;
  z-index: 9;
  opacity: 0;
  visibility: hidden;
}

header .nav-toggle.active {
  opacity: 1;
  visibility: visible;
}

header .nav-toggle span {
  font-size: 35px;
}

nav.auto {
  background: var(--light);
  width: 100%;
  height: 50vh;
  padding: 2rem;
  border-radius: 30px 30px 0 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 10px;
  position: fixed;
  left: 0;
  bottom: -100%;
  overflow-y: auto;
  transition: .6s ease;
  z-index: 9;
}

nav.auto.active {
  bottom: 0;
  transition: .3s ease;
}

html:has(nav.auto.active) main::after {
  content: "";
  background: #00000099;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 8;
}

.authForm-wrapper,
.resetPasswordForm-wrapper {
  width: 100%;
  display: none;
}

.authForm-wrapper.active,
.resetPasswordForm-wrapper.active {
  display: block;
}

.accountSetupForm-wrapper,
.createPostForm-wrapper {
  width: 100%;
}

.authForm-wrapper form,
.resetPasswordForm-wrapper form,
.accountSetupForm-wrapper form,
.createPostForm-wrapper form {
  width: 100%;
  display: grid;
  grid-auto-flow: row;
  gap: 10px;
}

.authForm-wrapper form label,
.resetPasswordForm-wrapper form label {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 10px;
  font-size: var(--lg);
  font-weight: bold;
}

.accountSetupForm-wrapper form label,
.createPostForm-wrapper form label {
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  gap: 10px;
  font-size: var(--lg);
  font-weight: bold;
}

.createPostForm-wrapper form label div {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 10px;
}

.authForm-wrapper form .data-info,
.resetPasswordForm-wrapper form .data-info,
.createPostForm-wrapper form .data-info {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: left;
  gap: 10px
}

.authForm-wrapper form .data-info span,
.resetPasswordForm-wrapper form .data-info span,
.createPostForm-wrapper form .data-info span {
  font-size: var(--sm);
}

.authForm-wrapper form .input,
.resetPasswordForm-wrapper form .input,
.accountSetupForm-wrapper form .input,
.createPostForm-wrapper form .input {
  position: relative;
}

.authForm-wrapper form input,
.resetPasswordForm-wrapper form input,
.accountSetupForm-wrapper form input,
.createPostForm-wrapper form input {
  font-size: var(--md);
  width: 100%;
  padding: 12px 5%;
  border: 1px solid var(--lshade);
  border-radius: 10px;
}

.toggle-password-visibility {
  background: none;
  position: absolute;
  top: 50%;
  transform: translateY(-40%);
  right: 15px;
  opacity: .5;
}

.authForm-wrapper form button[type="submit"],
.resetPasswordForm-wrapper form button[type="submit"],
.accountSetupForm-wrapper form button[type="submit"] {
  background: var(--primary);
  color: var(--light);
  font-size: var(--md);
  font-weight: bold;
  width: 100%;
  padding: 12px 5%;
  border: 1px solid var(--lshade);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
}

.createPostForm-wrapper form button[type="submit"] {
  background: var(--primary);
  font-size: var(--md);
  font-weight: bold;
  width: 100%;
  padding: 9px 24px;
  border: 1px solid var(--lshade);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: right;
  gap: 10px;
  cursor: pointer;
}

html:has(.authForm-wrapper.active) .nav-link {
  display: none;
}

html:has(.resetPasswordForm-wrapper.active) .authForm-wrapper,
html:has(.resetPasswordForm-wrapper.active) .nav-link {
  display: none;
}

/* Btn loader animation for network request processes */

.btn-loader {
  width: 24px;
  height: 24px;
  display: none;
  border-radius: 100%;
  border-width: 3px;
  border-style: solid;
  border-top-color: transparent;
  border-left-color: var(--light);
  border-right-color: var(--light);
  border-bottom-color: var(--light);
  animation: spin2 .5s linear infinite;
}

@keyframes spin2 {
  from {
    transform: rotate(0);
  }
  
  to {
    transform: rotate(360deg);
  }
}

button.awaitable.active .btn-loader {
  display: flex;
}

button.awaitable.active span:first-child {
  display: none;
}

/* Welcome screen for new users */

.welcome-screen {
  background: var(--light);
  width: 100%;
  min-height: 100vh;
  padding: 0 0 5% 0;
  display: grid;
  align-items: flex-start;
  grid-template-columns: repeat(auto-fit, minmax(auto, 100%));
  gap: 20px;
}

.welcome-screen .splash {
  width: 100%;
  padding-bottom: 5%;
  display: grid;
  grid-auto-flow: row;
  gap: 20px;
}

.welcome-screen .ws-img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  object-position: top;
  border-radius: 0;
}

.welcome-screen .ws-text {
  padding: 0 5%;
  display: flex;
  align-items: left;
  justify-content: flex-start;
  flex-direction: column;
  gap: 15px;
}

.welcome-screen .ws-text span {
  text-align: left;
}

.welcome-screen .ws-text .title {
  font-size: 70px;
  font-weight: 600;
  line-height: 1;
}

.welcome-screen .ws-text .body-content {
  font-size: 60px;
  font-weight: 200;
  line-height: .8;
}

.welcome-screen .ws-text .body-content i:nth-child(1) {
  box-shadow: inset 0 -15px 0 var(--primary);
  padding: 0;
}

.welcome-screen .ws-text .body-content i:nth-child(2) {
  box-shadow: inset 0 -15px 0 #FFE06A;
  padding: 0;
}

.welcome-screen .ws-text .body-content i:nth-child(3) {
  box-shadow: inset 0 -15px 0 #FFF7A5;
  padding: 0;
}

.accountSetupForm-wrapper {
  padding: 0;
  border-radius: 0;
}

.accountSetupForm-wrapper > div {
  padding: 5%;
  font-size: 30px;
  font-weight: 200;
}

#accountSetupForm {
  color: var(--dark);
  display: grid;
  gap: 10px;
}

#accountSetupForm .input {
  padding: 5%;
  display: grid;
  gap: 15px;
}

#accountSetupForm .input:not(:nth-child(4)) {
  border-bottom: 1px solid var(--lshade);
}

#accountSetupForm .input:last-child {
  border-bottom: 0;
}

#accountSetupForm label {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 10px;
  position: relative;
}

#accountSetupForm label.complete {
  color: var(--primary);
  opacity: .5;
}

#accountSetupForm label.complete::after {
  content: "";
  background: var(--primary);
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

#accountSetupForm .upload-pfp.complete {
  opacity: 0;
}

#accountSetupForm .set-profile-picture {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

#accountSetupForm .set-profile-picture .avatar-holder {
  width: 100px;
  height: 100px;
  border-radius: 100%;
}

#accountSetupForm .upload-pfp {
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  color: var(--light);
  width: 40px;
  height: 40px;
  border: 1px solid var(--lshade);
  border-radius: 100%;
  font-size: var(--md);
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

#setGender {
  display: flex;
  align-items: flex-start;
  justify-content: left;
  gap: 9px;
  flex-wrap: wrap;
}

#setGender .set-gender {
  padding: 7px 14px;
  border: 1px solid var(--lshade);
  border-radius: 7px;
  position: relative;
  cursor: pointer;
}

#setGender .set-gender.active {
  background: #FFCE1220;
  padding: 7px 10px 7px 28px;
  box-shadow: inset 0 0 0 1px var(--primary);
}

#setGender .set-gender.active::after {
  content: "";
  background: var(--primary);
  width: 10px;
  height: 10px;
  border-radius: 100%;
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

#setInterests {
  display: flex;
  align-items: flex-start;
  justify-content: left;
  flex-wrap: wrap;
  gap: 9px;
}

#setInterests .set-interest {
  padding: 7px 14px;
  border: 1px solid var(--lshade);
  border-radius: 7px;
  position: relative;
  cursor: pointer;
}

#setInterests .set-interest.active {
  background: var(--pri-shade);
  padding: 7px 28px 7px 10px;
  box-shadow: inset 0 0 0 1px var(--primary);
}

#setInterests .set-interest.active::after {
  content: "✓";
  color: var(--primary);
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.userName {
  background: var(--lshade);
  padding: 5px 30px 5px 15px;
  display: none;
  align-items: center;
  justify-content: left;
  gap: 3px;
  font-size: var(--sm);
  border-radius: 20px;
  position: relative;
}

.userName.active {
  display: flex;
}

.userName.active::after {
  content: "";
  background: var(--success);
  width: 10px;
  height: 10px;
  border-radius: 100%;
  position: absolute;
  top: auto;
  right: 10px;
}

.nav-link {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 5px;
  cursor: pointer;
  -webkit-tap-highlight-color: #27272710;
}

.nl-collapsible {
  width: 100%;
  display: none;
}

.theme-switch,
.userName-edit {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 10px;
}

.nl-collapsible .current-userName {
  font-size: var(--md);
  white-space: nowrap;
  padding: 7px 3%;
  border: 1px solid var(--lshade);
  border-radius: 5px;
  opacity: .8;
  overflow: auto;
}

.nl-collapsible.active {
  display: block;
  padding: 1em 10px;
  margin-left: 22px;
  border-left: 1px solid var(--dark);
}

main {
  width: 100%;
  min-height: 90vh;
  padding: 0;
}

#loader {
  background: #00000099;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: visible;
  z-index: -1;
  overflow-y: auto;
}

#loader.active {
  opacity: 1;
  visibility: visible;
  z-index: 9;
}

#loader.active:has(.welcome-screen) {
  background: var(--light);
  display: block;
}

#loader .animation-wrapper {
  background: var(--dark);
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

#loader.active .page-loader {
  width: 25px;
  height: 25px;
  border-radius: 100%;
  border: 3px solid var(--light);
  border-top-color: transparent;
  animation: spin .5s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

.hero {
  color: var(--dark);
  width: 100%;
  margin: auto;
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero.await-auth {
  display: none;
}

.hero .overlay {
  width: 100%;
  height: auto;
  padding: 60px 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 15px;
}

.hero .title {
  margin: 0 5%;
  font-size: 45px;
  font-weight: 800;
  letter-spacing: -2px;
  line-height: 1;
}

.hero .body-content {
  margin: 0 5%;
  font-size: var(--lg);
  font-weight: 300;
  line-height: 1.4;
}

#ctaBtn {
  background: var(--primary);
  color: var(--light);
  width: 100%;
  max-width: 600px;
  padding: 10px 1em;
  margin-top: 10%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  font-size: var(--lg);
  font-weight: 600;
  border: 1.8px solid var(--lshade);
  border-radius: 10px;
  overflow: hidden;
}

.auth-content {
  display: none;
}

.auth-content.active {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 100% 0;
  gap: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.auth-content .feed {
  width: 100%;
  height: fit-content;
  display: grid;
  grid-auto-flow: row;
  position: relative;
}

.auth-content .posts-container {
  width: 100%;
  height: fit-content;
  padding: 0 5%;
  display: grid;
  grid-template-columns: 100% 0;
}

html:has(.posts-wrapper.saved-posts.active) .posts-container {
  grid-template-columns: 0 100%;
}

.posts-wrapper {
  display: grid;
  grid-auto-flow: row;
  gap: 0;
  align-content: start;
}

.posts-wrapper.for-you-posts,
.posts-wrapper.saved-posts {
  opacity: 0;
}

.posts-wrapper.for-you-posts.active,
.posts-wrapper.saved-posts.active {
  opacity: 1;
}

.post {
  width: 100%;
  padding: 7px 0;
  display: grid;
  grid-template-columns: auto 2fr;
  gap: 10px;
}

.post:first-child {
  margin-top: 10px;
}

.post:last-child {
  margin-bottom: 100px;
}

.post-col-1 {
  display: grid;
  align-content: start;
  justify-items: center;
}

.post-col-1 img {
  width: 38px;
  height: 38px;
  border-radius: 100%;
  border: 1.8px solid var(--lshade);
}

.post-col-2 {
  display: grid;
  grid-auto-flow: row;
  gap: 0;
}

.author {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 9px;
}

.author .author-name {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 3px;
  font-size: var(--sm);
  font-weight: 600;
}

.author .author-tagname {
  margin-left: 2px;
  font-size: var(--sm);
  font-weight: 300;
  opacity: .5;
}

.author .time-posted {
  font-size: var(--sm);
  font-weight: 300;
  opacity: .5;
}

.post-body {
  width: 100%;
  height: auto;
  display: -webkit-box;
  line-clamp: 8;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
  font-size: var(--sm);
  line-height: 1.5;
  overflow: hidden;
  position: relative;
  user-select: none !important;
}

.post-body.expand {
  line-clamp: unset;
  -webkit-line-clamp: unset;
  user-select: auto !important;
}

.post-body div {
  line-height: 1.5;
}

.post-body:not(:has(div)) {
  line-height: 1.5;
}

.post-body img.expanded {
  max-height: fit-content!important;
  object-fit: fill;
  border: none!important;
  border-radius: 0!important;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 10;
}

.post-body:has(img.expanded)::after {
  content: "";
  background: var(--light);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
}

.close-expandedImgView {
  background: var(--lshade);
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  position: fixed;
  top: 5%;
  right: 5%;
  z-index: 10;
  cursor: pointer;
}

.close-expandedImgView span {
  font-size: 25px;
  margin-top: 1px;
}

.post-analytics {
  width: 100%;
  margin-top: 9px;
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 20px;
  position: relative;
}

.post-analytics .pa {
  display: flex;
  align-items: center;
  justify-content: left;
  cursor: pointer;
}

.post-analytics .pa span:nth-child(1) {
  font-size: calc(var(--sm) - 2px);
  opacity: .8;
}

.post-analytics .pa span:nth-child(2) {
  font-size: var(--md);
  opacity: .6;
}

.post-analytics .more-post-actions {
  font-size: var(--lg);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: .6;
  cursor: pointer;
}

.post-analytics .mpa-options {
  background: var(--light);
  width: 100px;
  padding: 0;
  border: 1px solid var(--lshade);
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: absolute;
  bottom: 100%;
  right: 5%;
  opacity: 0;
  visibility: hidden;
  z-index: -1;
}

.mpa-options.active {
  opacity: 1;
  visibility: visible;
  bottom: 120%;
  z-index: 1;
}

.mpa-options span {
  border-right: 0.8px solid var(--lshade);
}

.mpa-options .report-post,
.mpa-options .delete-post {
  border-right: none;
}

.mpa-options .block-user {
  color: var(--alert);
}

.mpa-options .report-post {
  color: var(--info);
}

.mpa-options .block-user,
.mpa-options .report-post,
.mpa-options .update-post,
.mpa-options .delete-post {
  padding: 5px;
  font-size: var(--md);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: .6;
  cursor: pointer;
}

.post:not(:last-child) {
  border-bottom: 1px solid var(--lshade);
}

.post-comments-overlay {
  background: #00000099;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  z-index: -1;
}

.post-comments-overlay.active {
  opacity: 1;
  visibility: visible;
  z-index: 8;
}

.post-comments {
  background: var(--light);
  width: 100%;
  height: 100%;
  padding: 15px 5% 0 5%;
  max-width: 600px;
  overflow-y: auto;
  opacity: 0;
  visibility: hidden;
  transition: .1s ease;
}

.post-comments-overlay.active .post-comments {
  opacity: 1;
  visibility: visible;
  transition: .3s ease;
}

html:has(.post-comments-overlay.active) *:not(.post-comments) {
  overflow-y: hidden;
}

.close-comments {
  width: 100%;
  padding: 0 0 20px 0;
  position: relative;
}

.close-comments button {
  background: var(--lshade);
  font-weight: bold;
  padding: 5px 15px;
  border-radius: 20px;
}

.comments-list {
  padding-bottom: 50px;
  margin-left: 35px;
  display: grid;
  grid-auto-flow: row;
  gap: 0;
  position: relative;
}

.post-header {
  border-bottom: 1px solid var(--lshade);
}

.post-header .post {
  margin: 0;
}

.comment {
  font-size: var(--sm);
  padding: 10px 16px 5px 16px;
  border-radius: 0;
  border-left: 1px solid var(--lshade);
  border-bottom: 1px solid var(--lshade);
  display: grid;
  grid-auto-flow: row;
  gap: 8px;
}

.comment:last-child {
  border-bottom: 0;
}

.commenter-info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 10px;
}

.commenter-info img.commenter-pfp {
  width: 23px;
  height: 23px;
  border: 1px solid var(--lshade);
  border-radius: 100%;
  overflow: hidden;
}

.commenter-info .commenter-name {
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 3px;
  white-space: nowrap;
  overflow: hidden;
}

.commenter-info .commenter-tagname {
  margin-left: 2px;
  font-weight: 300;
  opacity: .5;
  white-space: nowrap;
  overflow: hidden;
}

.time-commented {
  font-weight: 300;
  opacity: .5;
  white-space: nowrap;
  overflow: hidden;
}

.comment-analytics {
  width: 100%;
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 20px;
}

.ca-option {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
}

.ca-option .ca.boosts,
.ca-option .ca.views {
  font-size: calc(var(--sm) - 2px);
}

.ca-option span.ms-rounded {
  font-size: var(--md);
  opacity: .5;
}

.ca.delete-comment {
  font-size: var(--lg);
  opacity: .5;
  cursor: pointer;
}

.commentForm-wrapper {
  background: var(--light);
  width: 100%;
  max-width: 600px;
  padding: 0 0 5px 0;
}

#commentForm {
  background: var(--light);
  width: 100%;
  height: auto;
  padding: 9px;
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 9px;
  position: relative;
}

#commentForm label {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
}

#commentForm .comment-body {
  width: 100%;
  max-height: 150px;
  padding: 10px 16px;
  border: 1px solid var(--lshade);
  border-radius: 10px;
  font-size: var(--sm);
  overflow-y: auto;
}

#commentForm .submit-comment {
  background: var(--primary);
  color: var(--light);
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 1px solid var(--lshade);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  cursor: pointer;
}

#commentForm .submit-comment span {
  font-size: var(--xl2);
  font-weight: 400;
  line-height: 40px;
  margin-left: 3px;
}

.content-nav {
  background: var(--light);
  width: 100%;
  height: 45px;
  padding: 0 5%;
  border-top: 1px solid var(--lshade);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 8;
}

.content-nav.hide {
  bottom: -100%;
}

.content-nav div {
  height: 100%;
}

.content-nav div span {
  opacity: .3;
}

.content-nav div.active span {
  opacity: 1;
}

.content-nav .cn-link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--sm);
  font-weight: 400;
  cursor: pointer;
}

.content-nav .cn-link.active {
  color: var(--primary);
  font-weight: 800;
}

.content-nav .edit-post {
  background: var(--primary);
  color: var(--light);
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  text-decoration: none;
}

.utility {
  width: 100%;
  height: fit-content;
  padding: 50px 0;
  display: none;
  overflow-y: hidden;
}

.utility .card {
  background: var(--light);
  width: 100%;
  min-height: 200px;
  border: 2px solid var(--lshade);
  border-radius: 15px;
}

.utility .card.user-menu {
  padding: 5%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.utility .card.user-menu .nav-link span.ms-rounded,
.utility .card.user-menu .nl-collapsible span.ms-rounded {
  font-size: var(--md)!important;
}

.utility .card.user-menu .nav-link span:not(span.ms-rounded),
.utility .card.user-menu .nl-collapsible span:not(span.ms-rounded) {
  font-size: var(--sm)!important;
}

/* Posting html */

.createPostForm-wrapper {
  background: var(--light);
  width: 100%;
  max-width: 600px;
  height: 100%;
  max-height: 50vh;
  padding: 15px 5%;
  margin: auto;
}

.createPostForm-wrapper label {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.createPostForm-wrapper button.awaitable {
  color: var(--light);
}

.createPostForm-wrapper .toolbar {
  background: var(--lshade);
  width: 100%;
  padding: 10px 5%;
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.createPostForm-wrapper .toolbar button {
  background: none;
}

.createPostForm-wrapper form .body-editor {
  width: 100%;
  min-height: 300px;
  padding: 12px 0;
  border-top: 1.8px solid var(--lshade);
  white-space: pre-wrap;
  overflow-x: hidden;
  overflow-y: auto;
}

/* 404 html */

.container.F404 {
  max-width: 800px;
  padding: 30px;
  margin: auto;
  margin-top: 80px;
  background: var(--lshade);
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.error-code {
  font-size: 7rem;
  font-weight: bold;
  color: var(--alert);
  margin: 0;
}

.error-text {
  font-size: 1.2rem;
  margin: 0 0 20px;
  color: var(--dshade);
}

.home-btn {
  display: inline-block;
  padding: 12px 20px;
  font-size: 1rem;
  border: 1.8px solid var(--dark);
  border-radius: 5px;
  text-decoration: none;
  background: var(--primary);
  color: var(--dark);
  transition: background 0.3s, transform 0.2s;
  cursor: pointer;
}

.home-btn:hover {
  transform: scale(1.05);
}

/* Await auth html */

.container.await-auth {
  color: var(--dark);
  max-width: 600px;
  padding: 30px;
  margin: auto;
  margin-top: 80px;
  background: var(--light);
  display: grid;
  gap: 15px;
}

.error-text-title {
  font-size: 60px;
  font-weight: 800;
  margin: 0;
}

.error-text-body {
  font-size: var(-lg);
  font-weight: 300;
  line-height: 1.5;
}

.inbox-btn {
  display: inline-block;
  padding: 10px 16px;
  font-size: var(--lg);
  border: 1px solid var(--lshade);
  border-radius: 10px;
  text-decoration: none;
  text-align: center;
  background: var(--primary);
  color: var(--light);
  transition: background 0.3s, transform 0.2s;
  cursor: pointer;
}

.inbox-btn:hover {
  transform: scale(1.05);
}

/* Medium screens */

@media screen and (min-width: 768px) {
  header {
    height: 60px;
    padding: 0 20%;
  }
  
  nav.auto.active {
    width: 60%;
    height: 50vh;
    margin-left: 20%;
    border-radius: 20px;
    bottom: 25vh;
  }
  
  .auth-content.active {
    padding: 0 20%;
  }
  
  .posts-container {
    padding: 0 !important;
  }
}

/* Wide screens */

@media screen and (min-width: 1024px) {
  header {
    height: 60px;
    padding: 0 15%;
  }

  header .site-id {
    gap: var(--lg2);
  }

  header .site-id img {
    width: 1.4em;
    height: auto;
  }

  header .site-id #userName {
    font-size: var(--sm2);
  }
  
  header .nav-toggle {
    display: none;
  }

  .welcome-screen {
    height: 100%;
    padding: 5%;
    grid-template-columns: repeat(auto-fit, minmax(auto, 49%));
    gap: 2%;
  }

  .welcome-screen .splash {
    border: 2px solid var(--lshade);
    border-radius: 22px;
  }

  .welcome-screen .ws-img {
    width: 100%;
    height: auto;
    border-radius: 20px 20px 0 0;
  }
  
  .accountSetupForm-wrapper {
    border-radius: 22px;
    border: 2px solid var(--lshade);
  }

  main {
    overflow-y: hidden;
  }

  .hero .title {
    margin: 0 5%;
    font-size: 90px;
    font-weight: 800;
    letter-spacing: -4px;
    line-height: 0.9;
  }

  .hero .body-content {
    margin: 0 20%;
    font-size: var(--lg2);
    font-weight: 300;
    line-height: 1.4;
  }

  #ctaBtn {
    font-size: var(--lg2);
  }

  .auth-content.active {
    padding: 0 1% 0 15%;
    display: grid;
    align-content: start;
    grid-template-columns: 70% 29%;
    gap: 1%;
  }

  .auth-content .feed {
    min-height: 100vh;
    border-right: 1px solid var(--lshade);
  }

  .posts-container {
    padding: 0 !important;
  }

  .post {
    max-width: 600px;
    padding: 10px 20px 10px 0;
    gap: var(--md2);
  }

  .post-col-2 {
    gap: 5px;
  }

  .post-body img.expanded {
    max-width: 600px;
    object-fit: unset;
    object-position: unset;
  }

  .post-comments-overlay.active .post-comments {
    height: 500px;
    border: 2px solid var(--lshade);
    border-radius: 22px 22px 0 0;
  }

  .comments-list {
    margin-left: 45px;
  }

  .commentForm-wrapper {
    padding: 0;
    border-radius: 0 0 22px 14px;
  }

  #commentForm {
    padding: 12px;
  }

  .utility {
    display: grid;
    grid-auto-flow: row;
    gap: var(--sm2);
  }

  .utility .card.user-menu {
    border: 0;
    border-radius: 0;
  }

  .content-nav .edit-post {
    width: 35px;
    height: 35px;
  }

  .content-nav .edit-post span {
    font-size: var(--md2);
  }
  
  

  /* Posting html */

  .createPostForm-wrapper {
    margin-top: 20%;
    border: 2px solid var(--lshade);
    border-radius: 22px;
  }

  .createPostForm-wrapper label {
    padding: var(--sm2) var(--sm2) 0;
  }

  .createPostForm-wrapper .data-info {
    padding: 0 var(--sm2);
  }

  .createPostForm-wrapper form .body-editor {
    padding: 12px 12px;
  }
}